<template>
  <div>
    <div class="flex flex-col justify-center items-center m-5">
      <input class="h-12 focus:outline-none" type="text" v-model="search" placeholder="Search by title..">
    </div>
    <ul class="flex flex-col justify-center">
      <li class="flex justify-center items-center mb-8" 
        v-for="post, index in filteredList" :key="index">
        <div class="border border-black rounded-lg w-1/3 h-auto p-6 bg-yellow-100">
          <p class="text-xs text-gray-400"># {{ post.id }}</p>
          <h1 class="text-bold text-2xl font-bold">{{ post.title }}</h1>
          <hr class="border-1 border-black m-2">
          <div class="">
            <p class="mb-2">
              <PostBody :post="post" />
            </p>
          </div>
          <ul v-for="user in users" :key="user.id">
            <li 
              class="flex justify-between font-extralight text-gray-600 text-sm" 
              v-if="user.id == post.userId">
              Posted by: {{user.name}}
              <a 
                class="text-red-500 cursor-pointer underline" 
                @click="deletePost(post)">Delete post</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="flex justify-center space-x-5">
      <button 
        class="text-4xl border border-black rounded-2xl pb-2 px-8 font-black" 
        v-if="page > 1" 
        @click="page--"> &laquo; </button>
      <button 
        class="text-4xl border border-gray-300 text-gray-300 rounded-2xl pb-2 px-8 font-black cursor-default" 
        v-else> &laquo; </button>
      <button class="text-3xl">{{page}}</button>
      <button 
        class="text-4xl border border-black rounded-2xl pb-2 px-8 font-black" 
        v-if="page < displayedPosts.length"
        @click="page++"> &raquo; </button>
      <button 
        class="text-4xl border border-gray-300 text-gray-300 rounded-2xl pb-2 px-8 font-black cursor-default" 
        v-else> &raquo; </button>
    </div>
  </div>
</template>

<script>
import PostBody from './PostBody.vue'

export default {
  name: "Posts",
  components: {
    PostBody
  },
  data() {
    return {
      page: 1,
      perPage: 10,
      pages: [],
      search: "",
    }
  },
  computed: {
    posts() {
      return this.$store.state.posts
    },
    users() {
      return this.$store.state.users
    },
    displayedPosts() {
      return this.paginate(this.posts)
    },
    filteredList() {
      return this.displayedPosts.filter(post => {
        return post.title.toLowerCase().includes(this.search.toLowerCase())
      })
    }
  },
  methods: {
    setPages() {
      let numberOfPages = Math.ceil(this.posts.length / this.perPage)
      for(let i = 1; index < numberOfPages; index++) {
        this.pages.push(i)
      }
    },
    paginate(posts) {
      let page = this.page
      let perPage = this.perPage
      let from = (page * perPage) - perPage
      let to = (page * perPage)
      return posts.slice(from, to)
    },
    deletePost(post) {
      this.posts.splice(this.posts.indexOf(post), 1)
    },
  },
  watch: {
    postsWatch() {
      this.setPages()
    },
  },
  mounted() {
    this.$store.dispatch("getPosts")
    this.$store.dispatch("getUsers")
  },
}
</script>
