<template>
  <div>
    <div v-if="truncated">
      <p>
        {{ post.body.slice(0, 100) + "..." }}
        <span 
          class="text-blue-500 underline cursor-pointer"
          @click="truncated = !truncated"
        >Read more</span>
      </p>
    </div>
    <div v-else>
      <p>
        {{ post.body }}
        <span 
          class="text-blue-500 underline cursor-pointer"
          @click="truncated = !truncated"
        >Read less</span>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PostBody',
  props: ['post'],
  data () {
    return {
      truncated: true
    }
  }
}
</script>
